[[source]]  #Esto es en donde pip esta obteniendo las fuentes modulos y dependencias
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
